/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

/* SHELL ---------------------------------------- */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  background: var(--background-dark);
  color: var(--color-default);
  overflow-x: hidden;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}
h1 .highlight,
h3 .highlight {
  color: var(--color-accent);
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: var(--color-accent);
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

/* CONTAINER ------------------------------------ */
.container {
  margin: 0 auto;
  padding: 30px 40px;
}
.container.container-links {
  background: var(--background-accent);
}
.container.container-dark {
  background: var(--background-dark);
  color: var(--color-default);
}
.container.container-center {
  text-align: center;
}
.container.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container.container-spacing-xl {
  padding: 50px 40px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 50px 80px;
  }
  .container.container-spacing-xl {
    padding: 100px 60px;
  }
}

/* BUTTONS -------------------------------------- */
a.button,
button {
  background: var(--color-accent);
  border: 2px solid var(--background-accent);
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 15px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

a.button:hover,
button:hover {
  border: 2px solid var(--color-accent);
  background: transparent;
}

a.button.button-dark,
button.button-dark {
  border: 2px solid var(--background-accent);
  background: var(--background-default);
  transition: 0.3s;
}

a.button.button-dark:hover,
button.button-dark:hover {
  border: 2px solid var(--color-accent);
}

a.button.button-small,
button.button-small {
  padding: 15px 25px;
}

@media screen and (min-width: 768px) {
  a.button,
  button {
    font-size: 1rem;
    padding: 23px 35px;
  }
}

/* DESIGN --------------------------------------- */
.ellipsis {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    57.58% 57.58% at 48.79% 42.42%,
    rgba(24, 180, 244, 0.5) 0%,
    rgba(46, 55, 114, 0) 63.22%
  );
  transform: rotate(5deg);
  opacity: 0.5;
  z-index: -1;
}
.ellipsis.ellipsis-purple {
  top: 1350px;
  left: -100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(172, 127, 244, 0.5) 0%,
    rgba(21, 25, 52, 0) 100%
  );
  transform: rotate(-5deg);
}

@media screen and (min-width: 768px) {
  .ellipsis {
    top: -100px;
    left: 350px;
    width: 1400px;
    height: 800px;
  }
  .ellipsis.ellipsis-purple {
    top: 1300px;
    left: -200px;
  }
}

/* used icon pack: https://www.svgrepo.com/collection/phosphor-thin-icons */
.icon:before {
  width: 18px;
  height: 18px;
  content: '';
  display: inline-block;
  margin-right: 20px;
  position: relative;
  top: 2px;
}
