.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}
.logo a {
  display: block;
  font-size: 2.5rem;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.header li a {
  color: white;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  transition: 0.3s;
}

.header li a:hover {
  color: var(--color-accent);
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
